@model BarcelonaAPIREST.DTOs.JugadorDTO

@{
    ViewData["Title"] = "Editar Jugador";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Editar Jugador</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="EditarJugador" asp-controller="Aplicacion" method="post">

                <input type="hidden" asp-for="Id" />

                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label">Nombre</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Posicion" class="form-label">Posición</label>
                    <select asp-for="Posicion" class="form-control" asp-items="ViewBag.Posiciones">
                        <option value="">Seleccione una posición</option>
                    </select>
                    <span asp-validation-for="Posicion" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Dorsal" class="form-label">Dorsal</label>
                    <input asp-for="Dorsal" class="form-control" />
                    <span asp-validation-for="Dorsal" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Foto" class="form-label">URL de la Foto</label>
                    <input asp-for="Foto" class="form-control" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a asp-action="GestionJugadores" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>


