@model IEnumerable<BarcelonaAPIREST.DTOs.JugadorDTO>

@{
	Layout = "_Layout";
    ViewData["Title"] = "Inicio";
}

<div class="container mt-4">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h5 class="card-title">Jugadores</h5>
                <p class="card-text">Gestión de jugadores del equipo</p>
                <a asp-action="Jugadores" asp-controller="Aplicacion" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h5 class="card-title">Historia</h5>
                <p class="card-text">Historia del Futbol Club Barcelona</p>
                <a asp-action="Historia" asp-controller="Aplicacion" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h5 class="card-title">Historial</h5>
                <p class="card-text">Resultados anteriores</p>
                <a asp-action="Index" asp-controller="Aplicacion" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
</div>