@model BarcelonaAPIREST.Domain.Jugador

@{
	Layout = "_Layout";
	ViewData["Title"] = "Crear Jugador";
}

<h1>Desea agregar un jugador?</h1>

<form asp-action="Crear" method="post">

	<div class="form-group">

		<label asp-for="Name" class="control-label">Nombre</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label asp-for="Posicion" class="control-label">Posición</label>
		<input asp-for="Posicion" class="form-control" />
		<span asp-validation-for="Posicion" class="text-danger"></span>

	</div>

	<button type="submit" class="btn btn-primary">Crear</button>"
	<a asp-action="Index" class="btn btn-secondary">Cancelar</a>



</form>