@model BarcelonaAPIREST.Domain.Jugador

@{
	Layout = "_Layout";
	ViewData["Title"] = "Detalles de Jugador";
}

<h1>Detalles del Jugador</h1>

<div>

	<h4>Jugador</h4>

	<hr />
	<dl class="row">

		<dt class="col-sm-2">ID</dt>
		<dd class="col-sm-10"@Model.Id></dd>

		<dt class="col-sm-2">Nombre</dt>
		<dd class="col-sm-10" @Model.Name></dd>

		<dt class="col-sm-2">Posicion</dt>
		<dd class="col-sm-10" @Model.Posicion></dd>

	</dl>

</div>

<p>

	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
	<a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>

</p>