@model BarcelonaAPIREST.Domain.Jugador

@{

	Layout = "_Layout";
	ViewData["Title"] = "Crear Jugador";
}

<h1>Desea eliminar un jugador? </h1>

<div>

	<h4>@Model.Name</h4>
	<p><strong>Posición:</strong> @Model.Posicion</p>

</div>

<form>

	<input type="hidden" asp-for="Id"/>
	<button type="submit" class="btn btn-danger">Eliminar</button>
	<a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>